body {
    font-family: 'Spartan', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 1vw auto 1.5vw;
}

/* Title Section */
.title {
    display: flex;
    justify-content: space-between;
}

.theme-section {
    display: flex;
}

.theme {
    align-self: center;
    font-size: 0.5rem;
    letter-spacing: 1px;
    margin-right: 15px;
}

.theme-bar {
    margin-top: 5.5px;
}

.theme-btn {
    align-self: center;
    border: none;
    border-radius: .3rem;
    font-family: 'Spartan', sans-serif;
    width: 25px;
    padding-top: 4px;
}

.theme-btn:hover {
    opacity: 65%;
}

/* Result Section */
.live-result {
    border: none;
    border-radius: .5rem;
    font-family: 'Spartan', sans-serif;
    font-size: 2rem;
    word-spacing: -8.5px;
    padding: 25px 18px;
    margin-bottom: 20px;
    text-align: right;
    width: 90%;
}

/* Main Section */
.main {
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.key-btn, .del-btn, .reset-btn, .equals-btn {
    border: none;
    border-radius: .5rem;
    font-family: 'Spartan', sans-serif;
    margin-right: 20px;
}

.key-btn, .del-btn {
    padding: 7.5px 22.5px;
    width: 20%;
}

.key-btn {
    font-size: 1.25rem;
}

.del-btn, .reset-btn {
    font-size: 0.85rem;
}

.reset-btn, .equals-btn {
    padding: 12.5px 0;
    width: 45%;
}

.equals-btn {
    font-size: 0.9rem;
}

.key-btn:hover, .del-btn:hover, .reset-btn:hover, .equals-btn:hover {
    opacity: 85%;
}

.pressed {
    opacity: 70%;
}

/* Footer Section */
.attribution {
    font-size: 11px;
    text-align: center;
    word-spacing: 1.25px;
}

.attribution a {
    opacity: 75%;
}

@media (max-width: 410px) {
    .container {
        width: 97.5%;
    }
    
    .del-btn {
        width: 18%;
        padding-left: 15px;
    }
    .attribution {
        font-size: 2.5vw;
    }
}